/*
Author: Ang Yak Hng
Date: 21 May 2019

filename: education.css
*/

/*Local Header styling*/
.header > a.logo:hover {
    background-color: #6f73d2;
}

/*Local splash screen styling*/
.splash-screen h1 {
    font-size: 80px;
}

.splash-screen {
    background-color: #6f73d2;
}

/*Local info-box styling*/
.info-boxes {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.info-boxes > table {
    width: 70%;
}

#sst-img,#pyps-img {
    width: 100%;
    margin-top: 2px;
}

/*Responsiveness*/
@media screen and (max-width: 900px) {
    .info-boxes > table {
        width: 90%;
    }
    
    .splash-screen h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 550px) {
    .info-boxes > table {
        width: 95%;
    }
    
    .splash-screen h1 {
        font-size: 60px;
    }
}