/*
Author: Ang Yak Hng
Date: 21 May 2019

filename: interests.css
*/

/*Local logo styling*/
.header > a.logo:hover {
    background-color: #e62026;
    color: #ffffff;
}


/*Local splash screen styling*/
.splash-screen {
    background-color: #e62026;
}

.splash-screen h1 {
    font-size: 80px;
/*    color: #ffffff;*/
}

/*form styling*/
form {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#submit {
    border: solid 1px;
    font-size: 15px;
    margin: 5px;
    height: 30px;
}

#submit:hover {
    background-color: #e62026;
    border-color: #ffffff;
    color: #ffffff;
}

form > input {
    margin: 0 5px;
    background-color: rgba(0,0,0,0.3);
    border-color: white;
}

::placeholder{
    color: rgba(255,255,255,0.5);
}

/*Styling for local info-boxes*/
#pc-partpicker p {
    font-size: 20px;
}

#pc-partpicker:hover {
    background-color: #0f0f0f;
    color: white;
}

#dnd-form {
    background-image: url(../Images/DnD.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
    background-size: contain;
    border-color: black;
}

#beyond {
    font-size: 35px;
}

#beyond:hover {
    background-color: #e62026;
    color: white;
}

#b99-img, #konosuba-img, #overwatch-img, #minecraft-img {
    max-height: 80px;
    width: 100%;
    object-position: center;
    object-fit: contain;
}

#b99 {
    background-color: #000000;
}

#overwatch-description {
    background-image: url(../Images/overwatch_circle.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right -30px bottom -30px;
}

#minecraft {
    background-image: url(../Images/minecraft-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#minecraft-info {
    background-image: url(../Images/dirt-block.svg);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: right -30px bottom -30px;
}

/*Responsiveness*/
@media screen and (max-width: 900px) {
    .splash-screen > h1 {
        font-size: 70px;
    }
    
    #games {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .splash-screen > h1 {
        font-size: 60px;
    }
}