@charset utf-8;

/*
Author: Ang Yak Hng
Date: 15 May 2019

filename: interests.css
*/


/*Local splash screen styling*/
.splash-screen {
    background-color: #e62026;
}

.splash-screen h1 {
    font-size: 80px;
}

/*form styling*/
form {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#submit {
    font-size: 15px;
    margin: 5px;
    height: 30px;
}

form > input {
    margin: 0 5px;
    background-color: rgba(0,0,0,0.3);
    border-color: white;
}


/*Styling for local info-boxes*/
#dnd-form {
    background-image: url(Images/DnD.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
    background-size: contain;
    border-color: black;
}

#beyond {
    font-size: 35px;
}

#beyond:hover {
    background-color: #e62026;
    color: white;
}

#b99-img {
    background-image: url('Images/b99-logo.png');
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

#konosuba-img {
    background-image: url(Images/konosuba.png);
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#overwatch-img {
    background-image: url(Images/overwatch.svg);
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#overwatch-description {
    background-image: url(Images/overwatch_circle.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -30px bottom -30px;
}

#minecraft-img {
    background-image: url(Images/minecraft.svg), url(Images/minecraft-background.jpg);
    height: 110px;
    background-size: contain, cover;
    background-repeat: no-repeat;
    background-position: center;
}

#minecraft-info {
    background-image: url(Images/dirt-block.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right -30px bottom -30px
}

#copyright-text {
    font-size: 10px;
    color: #808080;
}

#games {
    width: 70%;
}

/*Responsiveness*/
@media screen and (max-width: 900px) {
    .splash-screen > h1 {
        font-size: 70px;
    }
    
    #games {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .splash-screen > h1 {
        font-size: 60px;
    }
}