/*
Author: Ang Yak Hng
Date: 23 May 2019

filename: layout.css
*/

/*Reset*/
* {
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    outline: none;
}

/*Header styling*/
.header {
    background-color: #f1f1f1;
    width: auto;
    display: flex;
    height: auto;
    align-content: center;
    justify-content: space-between;
    padding: 0 150px;
}

.header a{
    box-sizing: border-box;
    text-decoration: none;
    color: #000000;
    text-align: center;
    font-size: 15px;
}

.header a.logo {
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    transition-duration: 0.1s;
}

.header-links{
    width: 75%;
    display: flex;
    justify-content: flex-end;
}

.header-links a {
    padding: 15px 5px;
    transition-duration: 0.1s;
}

/*Hover colours*/
#home:hover {
    background-color: #d9f0ff;
}

#education:hover {
    background-color: #6f73d2;
}

#projects:hover {
    background-color: #a3d5ff;
}

#interests:hover {
    background-color: #83c9f4;
}

/*Splash screen styling*/
.splash-screen {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    text-align: center;
    height: 200px;
    margin: auto;
}

.splash-screen > h1 {
    font-size: 90px;
    display: block;
}

.splash-screen > p {
    display: block;
}

/*Info boxes styling*/
.info-boxes {
    overflow: auto;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 70px;
}

.info-boxes table{
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 20px 10px;
}

.info-left, .info-right {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.info-left {
    float: left;
}

.info-right {
    float: right;
}

td {
    border-style: solid;
    padding: 5px;
}

/*Footer styling*/
footer {
    background-color: #f1f1f1;
    height: 70px;
    display: flex;
    justify-content:flex-start;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-media {
    display: block;
    height: 40px;
    margin: 15px;
}

button {
    font-size: 25px;
    margin: 3px;
    border-style: none;
    border-radius: 20px;
    height: 40px;
    min-width: 40px;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
    outline: none;
}

footer > p {
    font-size: 12px;
    height: 12px;
    margin: 29px 0px;
}

.copyright-text {
    font-size: 10px;
    color: #808080;
}
/*Hover effects for social media*/
#twitter:hover {
    background-color: #00aced;
    color: white;
}

#instagram:hover {
    color: white;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

#reddit:hover {
    background-color: white;
    color: #FF4301;
}

/*Form styling*/
input {
    height: 25px;
    border-radius: 20px;
    border-style: solid;
    border-color:grey;
    padding-left: 1em;
    outline: none;
    transition: 0.3s;
}
input:focus {
    border-color: black;
    background-color: white;
}

input:focus::placeholder {
    color: rgba(0,0,0,0.5);
}

input:valid {
    background-color: white;
    border-color: black;
}
/*Responsiveness*/

@media screen and (max-width: 900px) {
    .header {
        padding: 0 50px;
    }
    
    .info-boxes {
        max-width: 95%;
    }
    
    .info-left, .info-right {
        float: none;
        width: 100%;
    }
    
    .info-boxes table {
        margin: 20px 0;
    }
}

@media screen and (max-width: 550px) {
    .header {
        padding: 0 10px;
        flex-flow: column;
    }
    
    .header a {
        text-align: left;
    }
    
    .header-links {
        flex-flow: column;
        width: 100%;
    }
    
    .header-links a{
        width: 100%;
    }
    
    .info-boxes {
        width: 95%;
    }
}