/*
Author: Ang Yak Hng
Date: 24 May 2019

filename: projects.css
*/

/*Header styling*/
.header > a.logo:hover {
    background-color: #a3d5ff;
}

/*Splash screen styling*/
.splash-screen h1{
    font-size: 80px;
}

.splash-screen {
    background-color: #a3d5ff;
}

/* Info-boxes styling */
#website-project-img, #fish, #server-img {
    width: 100%;
    object-position: center;
    object-fit: contain;
    margin-top: 2px;
}

/*Button styling for links to projects*/
#wordpress:hover {
    background-color: #21759b;
    color: white;
}

#spigot:hover {
    background-color: yellowgreen;
}

#ip-address:hover {
    background-color: rebeccapurple;
    color: white;
}

#github:hover {
    color: #ffffff;
    background-color: #211F1F;
}

#wordpress, #spigot, #ip-address, #github {
    font-size: 20px;
}

.projects button {
    margin: 5px 0;
}

/*Responsiveness*/
@media screen and (max-width: 900px) {
    
    .splash-screen h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 550px) {
    
    .splash-screen h1 {
        font-size: 50px;
    }
}