/*
Author: Ang Yak Hng
Date: 15 May 2019

filename: projects.css
*/


/*Splash screen styling*/
.splash-screen h1{
    font-size: 80px;
}

/*Button styling for links to projects*/
#wordpress:hover {
    background-color: #21759b;
    color: white;
}

#spigot:hover {
    background-color: yellowgreen;
}

#ip-address:hover {
    background-color: rebeccapurple;
    color: white;
}

#pc-partpicker:hover {
    background-color: #0f0f0f;
    color: white;
}

#wordpress p, #spigot p, #ip-address p, #pc-partpicker p {
    font-size: 20px;
}



.projects button {
    margin: 5px 0;
}

/*Responsiveness*/
@media screen and (max-width: 900px) {
    
    .splash-screen h1 {
        font-size: 70px;
    }
}

@media screen and (max-width: 550px) {
    
    .splash-screen h1 {
        font-size: 50px;
    }
}