/*
Author: Ang Yak Hng
Date: 21 May 2019

filename: style.css
*/

/*Header styling*/
.header > a.logo:hover {
    background-color: #d9f0ff;
}

/*Styling for splash screen*/
.splash-screen {
    background-color: #d9f0ff;
}

/*Styling for about*/
.about {
    max-width: 1000px;
    width: 90%;
    margin: auto;
    padding: 50px 0px;
    overflow: auto;
}

.about > img {
    float: left;
    display: inline;
    width: 20%;
    max-width: 175px;    
}

.self-info {
    box-sizing: border-box;
    padding: 0px 10px;
    float: left;
    width: 80%;
}

/*Styling for about-family*/
.about-family {
    max-width: 1000px;
    margin: auto;
    width: 90%;
    display: block;
    padding: 50px 0px;
    padding-top: 25px;
    overflow: auto;
    border-style: groove;
    margin-bottom: 120px;
}

.about-family > h2 {
    text-align: center;
    padding: 5px;
    padding-bottom: 25px;
    
}

.mom, .dad, .sis {
    float: left;
    width: 33%;
    text-align: center;
}

.about-family img {
    max-width: 140px;
    width: 70%;
}

/*Responsiveness*/
@media screen and (max-width: 550px) {
    .about {
        width: 95%;
        margin: auto;
        text-align: center;
    }
    
    .about > img {
        margin-left: auto;
        margin-right: auto;
        float: none;
    }
    
    .self-info {
        float: none;
        text-align: center;
        margin: auto;
        width: 100%;
    }
}