@charset utf-8;

/*
Author: Ang Yak Hng
Date: 14 May 2019

filename: interests.css
*/


/*Local splash screen styling*/
.splash-screen {
    background-color: #e62026;
}

.splash-screen h1 {
    font-size: 80px;
}

/*form styling*/
form {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}

#submit {
    font-size: 15px;
    margin: 5px;
    height: 30px;
}

form > input {
    margin: 0 5px;
    background-color: rgba(0,0,0,0.3);
    border-color: white;
}


/*Styling for local info-boxes*/
#dnd-form {
    background-image: url(Images/DnD.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: grey;
    background-size: contain;
    border-color: black;
}

#beyond {
    font-size: 35px;
}

#beyond:hover {
    background-color: #e62026;
    color: white;
}

#b99-img {
    background-image: url('Images/b99-logo.png');
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

#konosuba-img {
    background-image: url(Images/konosuba.png);
    height: 110px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/*Responsiveness*/
@media screen and (max-width: 900px) {

}

@media screen and (max-width: 600px) {

}