/*
Author: Ang Yak Hng
Date: 07 May 2019

filename: projects.css
*/


/*Project section styling*/
.projects {
    margin: auto;
    width: 90%;
    margin-top: 20px;
    overflow: visible;
    max-width: 1000px;
    display: flex;
    flex-flow: row wrap;
}

.projects table{
    width: 480px;
    box-sizing: border-box;
    border-collapse: collapse;
    margin: 20px 10px;
}

td {
    border-style: solid;
}

/*Button styling for links to projects*/
#wordpress:hover {
    background-color: #21759b;
    color: white;
}

#wordpress p, #spigot p, #ip-address p, #pc-partpicker p {
    font-size: 20px;
}

#wordpress p > i {
    font-size: 25px;
}

td > button {
    margin: 5px 0;
}

/*Responsiveness*/
@media screen and (max-width: 900px) {
    .projects table {
        width: 100%;
        margin: 20px 0;
    }
}

@media screen and (max-width: 550px) {
    .projects {
        width: 100%;
    }
}